.header-container {
  display: flex;
  align-items: center;
  width: var(--size-full);
  justify-content: space-between;
  background-color: var(--color-white);
  padding: var(--size-4) var(--size-8) var(--size-4);
}

.header-container__brand {
  color: var(--color-red-500);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-4xl);
  font-family: var(--font-family-heading);
}

.header-container__nav {
  max-width: var(--container-lg);
  padding: var(--size-4);
  display: flex;
  align-items: center;
  gap: var(--size-4);
}

.nav__link {
  color: var(--color-red);
  letter-spacing: var(--tracking-wide);
}
